jupyter
numpy
opencv-python
torch==2.0.1
torchvision
open-clip-torch
transformers
matplotlib
pandas
pytorch-lightning
lightning[extra]
tensorboard-pytorch
tensorboard
ultralytics==8.0.163
albumentations
black
torcheval
onnx>=1.12.0
onnxsim>=0.4.33
onnxruntime
onnxconverter-common==1.14.0
openvino-dev>=2023.0
ncnn